 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFDD0;
    padding: 10px 40px;
    width: 100%;
    height: 60px;
}
header div{
    margin-top: 10px;
}
header div a{
    margin-right: 40px;
    text-decoration: none;
    margin-right: 20px;
    color:  #6A5ACD;
    font-weight: bold;
}
header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #6A5ACD;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6A5ACD;

}
.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #FFFDD0; */
    padding: 40px;
    color: antiquewhite;

}
section h1{
    margin: 30px;
    color: #6A5ACD;
    font-weight: bold;
    background-color: antiquewhite;
    border: 2 px solid black;
    padding: 10px;


}
.textarea h2{
    margin: 30px;

}

